
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Studemy :: Welcome</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>

  <body>

    <% include ./partials/navbar %>

    <%- body -%>

    <% include ./partials/footer %>

    <% include ./partials/javascriptOnly %>
  </body>
</html>
