<%- layout('layout') -%>

<div id="jumbotron_id" class="jumbotron">
    <div class="container">
        <h1>Shop Smart, Save Big!</h1>
        <p>Starting point to create something more unique</p>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup  &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Start your search here</h2>
            <p>Signup to start buying</p>
        </div>
        <div class="col-md-4">
            <h2>Shop Smart, Save Big!</h2>
            <p>Starting point to create something more unique</p>
        </div>
        <div class="col-md-4">
            <h2>build a smart cartyy</h2>
            <p>The more smart items you buy together, the more you save :)</p>
        </div>
    </div>
</div>